
# IDE and R-specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Quarto
.quarto
_extensions/
_freeze/
_publish.yml
**/.ipynb_checkpoints/

# Cache folders and files
*cache*
*code_files*

# Miscellaneous
.DS_Store
Thumbs.db

# Air-Formatter
.vscode
air.toml

# Figures

figures
/.quarto/
**/*.quarto_ipynb

# References

reference_sg.bib
apa.csl

# manuscript qmd

manuscript.pdf


# code 

code/00_code_template.qmd
code/03_radar_graph.qmd
code/02_multivar_modelSDO.qmd

#ReadME

README.html
README_files

# data for final table

data/03_model/final_table.rds

# saved loo output (only saved because of long computation time)

loo_output.txt

# backup files used as saves when adjusting the code to run in RStudio and Positron

code/01_data_exploration_manipulation_positron.qmd
code/02_multivar_model_positron.qmd